@charset "utf-8";

.leftSelect {
	background-color: #009688;
}

.pages {
    margin-left: -100px;
    margin-top: -40;
}

.searchInput {
	width: 80px;
    height: 25px;
}

.pointer {
	cursor: pointer;
}
